// Вложенность

// html
<div class="block">
	Привет, я <span>фрилансер</span>!
</div>

// scss
.block{
	font-size: 20px;
	color: red;
	span{
		color: green;
	}
}

// Переменные

// scss
$bg: 100px;

.text{
	font-size: $bg;
}

// Импорт

// scss
@import "bbb.scss";

// Шаблоны

// scss
%bg{
  font-family: Mulish;
  font-style: normal;
  line-height: 56px;
}

.text{
	@extend %bg;
}

// Миксины

// scss
@mixin bg($f,$c){
  font-size: $f;
  color: $c;
}

.text{
	@include bg(100px, red);
}

// Математика

// scss
.text{
	width: 1200px / 1366px * 100%;
	background-color: red;
}